.about {
  height: 100%;

  .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    
    p {
      font-size: 1.1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }
}